body {
  padding: 25px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 45%);
  
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 7.5%);
  
  height: auto;
  width: auto;
  
  display: grid;
  gap: 10px;
  
  background: linear-gradient(0deg, lightgoldenrodyellow, pink);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  text-align: center;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 7.5%);
  font-family: Helvetica, Arial, sans-serif;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

button {
  padding: 5px;
  
  background-color: royalblue;
  color: white;
  border-style: none;
  border-radius: 5px;
  
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 7.5%);
}

h1 img {
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 7.5%);
}

h1 {
  display: inline-flex;
  gap: 10px;
  
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
