body {
  background-color: navajowhite;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  text-align: auto;
  font-family: Helvetica, Arial, sans-serif;
}

.pie {
  background-color: rgba(0, 0, 0, 2.5%);
  border-color: rgba(0, 0, 0, 1.5%);
  border-style: solid;
  border-width: 2.5px;
  padding: 20px;
  width: 170px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-weight: bolder;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
